body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    @import './utilities/header.scss';



    .features{
        height: 600px;
        width: 100%;
    }

}

@import './media-queries/header.scss';

