body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    @import './utilities/header.scss';
    @import './utilities/features.scss';

    .drag-drop {
        display: flex;
        height: 750px;
        width: 100%;
        position: relative;
        background-color: #0e1a35;
        overflow: hidden;
        margin-top: 5%;

        .backgroung-image {
            img {
                position: absolute;
                width: 100%;
            }
        }
        .images {
            height: 750px;
            width: 50%;
            display: flex;
            justify-content: flex-end;
            .col-1 {
                z-index: 510;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 108px;
                padding-left: 84px;
                p {
                    font-size: 30px;
                    color: #FFF;
                    font-weight: 600;
                    span {
                        color: #8492af;
                    }
                }
                .img1 {
                    width: 80%;
                    img {
                        width: 100%;
                    }
                }
                .img2 {
                    width: 536px;
                    height: 246px;
                    position: relative;
                    margin-left: -46px;
                    margin-top: -37px;
                    img {
                        width: auto;
                        height: 100%;
                    }
                    .img-hand {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        height: 145px;
                    }

                }
            }
            .col-2 {
                z-index: 500;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: -51px;
                padding-top: 10px;
                padding-right: 22px;
                p {
                    font-size: 30px;
                    color: #FFF;
                    font-weight: 600;
                    span {
                        color: #8492af;
                    }
                }
                .drop-here {
                    height: 100px;
                    width: 99%;
                    border-color: #8492af;
                    border-style: dashed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 12px;
                    color:  #8492af;
                    font-weight: 700;
                    border-width: 1.5px;
                }
            }
        }
        .text {
            height: 750px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 103px;

            h3 {
                font-size: 60px;
                font-weight: 200;
                color: #FFF;
                margin-bottom: 26px;
            }
            p {
                width: 60%;
                color:  #8492af;
            }
            .btn {
                i {
                    color:  #8492af;
                    margin: 10px 5px;
                }
            }

        }
    }
}

@import './media-queries/header.scss';
@import './media-queries/features.scss';

@media screen and (max-width: 1775px) {
    body .drag-drop {
        .images {
            .col-1 {
                width: 50%;
                padding-left: 21px;
                padding-right: 10px;
                .img2 {
                    width: 460px;
                    height: 223px;

                    img {
                        height: 95%;

                    }
                    .img-hand {
                        height: 115px;
                        bottom: 17px;

                    }
                }
            }
            .col-2 {
                width: 41%;
                padding-top: 31px;

            }
        }
    }
}

@media screen and (max-width: 1635px) {
    body .drag-drop {
        .images {
            .col-1 {
                .img2 {
                    width: 432px;
                    img {
                        height: 92%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1575px) {
    body .drag-drop {
        .images {
            .col-1 {
                .img2 {
                    img {
                        height: 89%;

                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1090px) {
    body .drag-drop {
        flex-direction: column-reverse;
        height: auto;
        .images {
            width: 100%;
            height: 50%;
            justify-content: center;
            .col-1 {
                .img2 {
                    height: 283px;
                    width: 539px;
                    .img-hand {
                        bottom: 50px;
                    }
                }
            }
            .col-2 {
                padding-top: 13px;
                padding-bottom: 45px;
            }
        }
        .text {
            width: 100%;
                        height: 50%;

        }
    }
}

